table
{ 
  height: auto; 
  width: auto;
  padding: 0; 
  margin: 0 auto; 
}

#myDataTable td {
	vertical-align: top;
	padding: 10px;
}

#myDataTable th {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	background: #0567FA;
	color: #FFF;	
}

.IncremBtn, .DecremBtn {
border: none;
margin: 0;
padding: 0;
}

.IncremBtn {
	width: 100px;
	height: 100px;
}

.DecremBtn {
	width: 50px;
	height: 50px;
}

